.grid-global {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: var(--gap);
}

.scroll-margin {
    scroll-margin-top: var(--gap-l);
}

.inverse-color .invertible-color {
    color: var(--primary-inverse-color);
}

.secondary-color {
    color: var(--secondary-color);
}

main {
    position: relative;
    margin: auto;
}

article {
    position: relative;
    display: grid;
    gap: var(--gap-xl);
    margin-top: var(--gap-xl);
    z-index: 2;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: var(--page-max-width);
    margin: auto;
    padding-inline: var(--page-padding);
    gap: var(--gap-l);
}

.section-title {
    padding-bottom: var(--gap);
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}

.section-content {
    width: 100%;
}

.skills-wrapper slide-animate .skills {
    border-bottom: 1px solid var(--secondary-color);
}

.skills-wrapper slide-animate:last-child .skills {
    border-bottom: none;
}

.skills {
    padding-block: var(--gap);
}

.skills ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--gap-s);
    color: var(--secondary-color);
    list-style: none;
}

footer {
    margin-block: var(--gap-xl) var(--gap);
}

.footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--page-max-width);
    margin: auto;
    padding-inline: var(--page-padding);
    gap: var(--gap-l);
}

.contact {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap);
    border-top: 1px solid var(--secondary-color);
    padding-top: var(--gap-m);
}

.contact-title {
    color: var(--secondary-color);
}

.contact-links {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--gap);
}

.footer-content .end {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: var(--gap);
}