.project-primary {
    margin-bottom: calc(var(--gap-l) - 1rem);
}

.projects-wrapper {
    display: grid;
    width: 100%;
    row-gap: var(--gap-l);
}

.project-thumbnail-button {
    display: grid;
    justify-items: start;
    grid-auto-rows: max-content;
    gap: var(--gap);
    max-width: 100%;
}

.project-thumbnail-button slide-animate {
    width: 100%;
}

.project-thumbnail-title {
    text-align: start;
}

.project-thumbnail-button .project-thumbnail-image {
    filter: grayscale(1) contrast(.6);
    transition: .4s var(--cubic-bezier);
    transition-property: transform, filter;
}

.project-thumbnail-button:hover {
    opacity: 1;
}

.project-thumbnail-button:hover .project-thumbnail-image {
    filter: grayscale(0) contrast(1);
    transform: scale(1.05);
}

/* Project modal */

project-modal {
    position: fixed;
    inset: 0;
    display: flex;
    transition: .6s var(--cubic-bezier) background-color;
    background-color: transparent;
    z-index: 10;
}

project-modal[is-open=true] {
    background-color: rgba(0, 0, 0, .4);
}

project-modal[is-open=false] {
    background-color: transparent;
}

project-modal[is-open=true] .project-modal-container {
    animation: slide-in .6s var(--cubic-bezier) forwards;
}

project-modal[is-open=false] .project-modal-container {
    animation: slide-out .6s var(--cubic-bezier) forwards;
}

project-modal skeleton-image {
    aspect-ratio: unset;
}

project-modal skeleton-image.active {
    aspect-ratio: 16 / 9;
}


.project-modal-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
    height: 95%;
    margin-top: auto;
    padding: var(--gap-m) var(--page-padding);
    background-color: var(--primary-inverse-color);
    overflow: auto;
}

.project-modal-content {
    position: relative;
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    width: 100%;
    max-width: var(--page-max-width);
    margin-inline: auto;
    gap: var(--gap-m);
}

.project-modal-close {
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: var(--gap-s);
    background-color: var(--primary-color);
    color: var(--primary-inverse-color);
    z-index: 1;
}

.project-modal-title {
    font-size: 2rem;
}

.project-modal-images {
    display: grid;
    width: 100%;
    gap: var(--gap-m);
}

.project-modal-achievements {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

.project-modal-achievements ul {
    list-style: square inside;
}

.project-modal-details {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

.project-modal-detail-item {
    display: grid;
    grid-template-columns: minmax(auto, 100px) 1fr;
    gap: var(--gap-s);
}

.project-modal-links {
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--gap-m);
}

.project-modal-link {
    display: inline-flex;
    align-items: center;
    gap: var(--gap-s);
}