:root {
    --primary-color: #050505;
    --primary-inverse-color: #f7f7f7;
    --secondary-color: #888888;

    --default-font-size: 16px;
    --h1-font-size: clamp(42px, 6.4vw, 80px);
    --page-max-width: 1200px;
    --page-padding: 1rem;
    --gap-xs: 0.25rem;
    --gap-s: 0.5rem;
    --gap: 1rem;
    --gap-m: 2rem;
    --gap-l: 4rem;
    --gap-xl: 8rem;

    --cubic-bezier: cubic-bezier(.8, .1, .1, .8);
}

@media (min-width: 640px) {
    :root {
        --page-padding: 2rem;
    }
}

@media (min-width: 960px) {
    :root {
        --page-padding: 3rem;
    }
}